html {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
    color: white;
    align-items: stretch;
    display: flex;
    width: 100%
}

.App-body {
    min-width: 400px;
    width: inherit;
}

.Page-header {
    height: 24px;
    font-size: x-large;
    padding: 20px;
    font-weight: bolder
}

.sidenav---sidenav---_2tBP {
    position: inherit;
    min-height: 100vh;
}

.sidenav---sidenav-subnav---1EN61 {
    color: #db3d44
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: medium;
}

.Setup {
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
    max-width: 700px;
    min-height: 300px;
}
